*.[oa]
*.~
eccentricities*.dat
evolution*.dat
surface*.dat
momentum*.dat
*.e
.DS_Store
results/
obj/
*.pyc
CMake*.txt
install*.txt
mpihydro
perf.data*
a.out
build/
MUSIChydro
*.dylib
*.so
outputs*
saved_outputs/
music_inputs/
analysis/
tests/pce/
initial/single_events*
inputfiles/
ensemble_results/
*spectra.dat
*formation.dat
EOS/PCE/*
